:root{
  --neon-blue:       #156397;
  --neon-light-blue: #4ebed2;
  --neon-cyan:       #84F5F9;
  --neon-lime:       #6fe033;
  --neon-green:      #BBF984;
  --neon-yellow:     #fde655;
  --neon-orange:     #ec9952;
  --neon-pink:       #f98884;
  --neon-red:        #f16d6a;
  --neon-dark:       #1e1f2a;    
  --neon-white:       #efefef;
}