.commentList{
  background-color: var(--neon-light-blue);
  padding: 0.3rem;
}

.comment-amount{
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--neon-white);
  margin-bottom: 0.8rem;
}

.comments-content{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
}

.comment{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--neon-white);
  padding: 0.8rem;
  //border-radius: 8px;
}

.comment-creator{
  font-weight: bold;
  font-size: 1.1rem;
}

.comment-id{
  color: rgb(145, 140, 140);
  font-weight: lighter;
}

.comment-top{
  display: flex;
  justify-content: space-between;
}

.report-comment{

  color: var(--neon-blue);

  &:hover{
    text-decoration: underline;
    color: var(--neon-dark);
    font-weight: bold;
    cursor: pointer;
  }
}

.comment-options{
  display: flex;
  justify-content: space-around;
  width: 15rem;
  
}

.vote-comment{
  display: flex;
}

.vote-up, .vote-down{
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  align-content: center;
  //border: 1px solid blue;
  width: 1.4rem;
  height: 1.4rem;
  &:hover{
    cursor: pointer;
  }
}

.vote-up{
  color: lime;
  &:active{
    color: green;
  }
}

.vote-down{
  color: red;
  &:active{
    color: darkred;
  }
}

.pagination{
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.prevPage, .nextPage{
  font-size: 2rem;
  font-weight: bold;
  border: 1px var(--neon-white) solid;
  border-radius: 5px;
  width: 2.5rem;
  text-align: center;
  color: var(--neon-light-blue);
  background-color: var(--neon-white);

  &:active{
    color: var(--neon-white);
    background-color: var(--neon-light-blue);
  }
}

.current-page{
  font-size: 1.5rem;
  line-height: 2.7rem;
  text-align: center;
  color: var(--neon-white);
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

.prevPage, .nextPage, .current-page{
  &:hover{
    cursor: pointer;
  }
}