.commentList{
  background-color: var(--neon-light-blue);
  padding: 0.5rem;
}

.comment-amount{
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--neon-white);
  margin-bottom: 1rem;
}

.comments-content{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.comment{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--neon-white);
  padding: 0.5rem;
  border-radius: 8px;
}

.comment-creator{
  font-weight: bold;
  font-size: 1.1rem;
}