@import './_variables.scss';

//* GlOBAL STYLES
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

.landing-container{
  background-color: var(--neon-light-blue);
  width: 100vw;
  min-height: 100vh;
}

.landing-img-container{
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
}

.landing-img{
  max-width: 700px;
  min-width: 200px;
  max-height: 40vh;
  aspect-ratio: auto;
}

//* DESKTOP DESIGN STYLES
@media screen and (min-width: 1280px){
}

//* LAPTOP DESIGN STYLES

@media only screen and (min-width: 992px){

}

//* TABLET DESIGN STYLES

@media only screen and (min-width: 768px){

}

//* MOBILE DESIGN STYLES
@media only screen and (min-width: 480px){

}


/* @media only screen and (min-width: 780px) {

  
  .middle-section{
    display: flex;
    height: 50%;
  }
  
  .middle-section-cards{
    height: 100%;
    width: 50%;
  }
  
  .cards-title, .search-title{
    background-color: var(--neon-white);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 2.3rem;
  }
  
  .option-cards{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    padding: 1rem;
  }
  
  .card{
    border-radius: 8px;
    background-image: url('https://img.freepik.com/premium-photo/anime-girl-with-pink-hair-horns-holding-magnifying-glass-generative-ai_1028863-21119.jpg?w=826');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 180px;
    background-color: color;
    animation: shrink 0.15s ease-in-out forwards;
    
    &:hover{
      cursor: pointer;
      animation: grow 0.15s ease-in-out forwards;
    }
  }
  
  @keyframes grow {
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.1);
    }
  }
  @keyframes shrink {
    from{
      transform: scale(1.1);
    }
    to{
      transform: scale(1);
    }
  }
  
  .divider{
    flex-basis: 100%;
    height: 0;
  }
  
  .card-link{
    color: black;
    width: 180px;
    height: 180px;
    display: flex;
    text-align: center;
    align-items: end;
    text-decoration: none;
  }
  .card-text{
    width: 100%;
    background-color: var(--neon-white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1.4rem;
    padding: 0.3rem 0.5rem;
  }
  
  .middle-section-search{
    //background-color: blue;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }
  
  .search-bar-section{
    display: flex;
    flex-direction: column;
  }
  
  .search-input-label{
    font-size: 1.6rem;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
  }
  
  .search-input{
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 1.5rem;
    &:focus{
      outline: none;
    }
  }

  .autocomplete{
    position: absolute;
    background-color: var(--neon-white);
    border-radius: 8px;
    width: 100%;
    top: 6rem;
    left: 0;
    z-index: 3;
  }

  .autocomplete-option{
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: rgb(65, 65, 65);
    padding: 0.2rem;

    &:hover{
      cursor: pointer;
      background-color: var(--neon-blue);
    }
  }
  
  .search-buttons{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-around;
  }
  
  .s-button{
    padding: 0.4rem;
    font-size: 1.8rem;
    border-radius: 8px;
    border: none;
    background-color: var(--neon-white);
    border: var(--neon-blue) 1px solid;
  
    &:hover{
      cursor: pointer;
    }
  
    &:active{
      background-color: var(--neon-red);
    }
  }
  
  .posts-gifs{
    width: 100%;
    height: 63%;
  }
  
  .posts-top-text, .posts-number{
    text-align: center;
    font-size: 2.1rem;
  }
  
  .post-gif{
    height: 185px;
  }
  
  .posts-number{
    text-decoration: underline;
  }
  
  .gelbooru-version{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  
  .bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neon-white);
    padding: 0.5rem;
    font-size: 1.3rem;
    height: 5%;
  }
  
  .footer-text{
    text-align: center;
  }
} */


/* @media only screen and (max-width: 480px) {
  .container{
    width: 100vw;
    min-height: 800px;
  }
  .middle-section{
    flex-direction: column;
    height: 100%;
    
  }

  .middle-section-cards{
    height: 40%;
    width: 100%;;
  }

  .cards-title, .search-title{
    background-color: var(--neon-orange);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.8rem;
  }

  .option-cards{
    width: 100%;
    min-height: fit-content;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //flex-wrap: wrap;
  }

  .card{
    min-height: 100px;
    height: 80%;
    border-radius: 8px;
    background-image: url('https://img.freepik.com/premium-photo/anime-girl-with-pink-hair-horns-holding-magnifying-glass-generative-ai_1028863-21119.jpg?w=826');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 80px;
    max-width: 200px;

  }


  .card-link{
    color: black;
    min-width: 100px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: end;
    text-decoration: none;
  }
  .card-text{
    width: 100%;
    background-color: var(--neon-orange);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
  }

  .middle-section-search{
    width: 100%;
    height: 53%;
    padding: 0.5rem
  }

  .search-bar-section{
    display: flex;
    flex-direction: column;
  }

  .search-input-label{
    font-size: 1.4rem;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    border-bottom: 1px var(--neon-orange) solid;
  }

  .search-input{
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid black;

    &:focus{
      outline: none;
    }
  }

  .search-buttons{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }

  .s-button{
    padding: 0.4rem;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    background-color: var(--neon-orange);
    border: var(--neon-blue) 1px solid;

    &:hover{
      cursor: pointer;
    }

    &:active{
      background-color: black;
      background-color: var(--neon-green);
    }
  }

  .posts-gifs{
    width: 100%;
  }

  .posts-top-text, .posts-number{
    text-align: center;
    font-size: 1.3rem;
  }


  .post-gif{
    height: 75px;
  }

  .posts-number{
    text-decoration: underline;
  }

  .gelbooru-version{
    display: block;
    width: 100%;
    text-align: center;
  }

  .bottom-section{
    display: flex;
    justify-content: center;
    background-color: var(--neon-orange);
  }

  .footer-text{
    text-align: center;
  }

} */
