@import './src/assets/styles/_variables.scss';


.post-container{
  all:unset;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: var(--neon-light-blue);
  
  display: flex;
}


.post-info-sidebar{
  padding: 0.5rem;
  min-height: 100%;
}

.sidebar-content{
  background-color: var(--neon-white);
  height: 100%;
}

.post-content{
  padding: 0.5rem;
  background-color: var(--neon-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.post-image{
  background-color: blue;
  width: 100%;
  text-align: center;
}

.view-original-button-container{
 width: 100%;
 
 padding: 1rem;
 display: flex;
 justify-content: center;
}

.view-original-button{
  all: unset;
  font-size: 1.3rem; 
  padding: 0.5rem;
  background-color: var(--neon-white);
  color: var(--neon-dark);
  border: 2px solid var(--neon-light-blue);
  border-radius: 8px;

 
  &:hover{
    cursor: pointer;
    background-color: #d7d7d7;
  }
  &:active{
    background-color: var(--neon-light-blue);
    color: var(--neon-white);
  }
}

