@import './src/assets/styles/_variables.scss';

#app{
  background-color: red;
  width: 99vw;
}

.post-container{
  all:unset;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: var(--neon-light-blue);
  
  display: flex;
}


.post-info-sidebar{
  //background-color: purple;
  padding: 0.5rem;
}

.post-content{
  padding: 0.5rem;
  background-color: var(--neon-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.post-image{
  background-color: blue;
  width: 100%;
  text-align: center;
}

.post-comments{
  background-color: gray;
}