.tagList{
  background-color: red;
  width: 20rem;
}
.list-title{
  font-size: 1.3rem;
  font-weight: bold;
}

.section-title{
  background-color: cyan;
  padding: .5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.list-tag{
  background-color: yellow;
  padding: .5rem;
}